/*京东头部 start*/
.J_event {
    width: 100%;
    background-color: #000;
}

body {
    background-color: #F6F6F6
}

.J_event a {
    display: block;
    height: 80px;
    background: url("../images/header.jpg") no-repeat;
    position: relative;
}

.J_event a i {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 5px;
    font-style: normal;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

/*京东头部 end*/

/*快捷导航开始*/
.shortcut {
    height: 30px;
    background-color: #A0A0A0;
    border-bottom: 1px solid #DDDDDD;
    line-height: 30px;
}

.shortcut a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.shortcut a:hover {
    color: #c81625;
}

.shortcut .fr li {
    float: left;
}

.shortcut .fl li {
    float: left;
    height: 30px;
    margin-left: 200px;
}

.pos {
    font-style: normal;
}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 10px 0;
}

.dropdown {
    padding-right: 15px;
    position: relative;
}

.dropdown i {
    font-family: "iconfont";
    font-style: normal;
    font-size: 14px;
    position: absolute;
    right: -5px;
    top: 3px;
}

/*快捷导航结束*/

.erweima {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    padding: 3px;
    position: absolute;
    left: -8px;
    top: 35px;
}

/*头部开始*/
.header {
    height: 140px;
}

.inner {
    height: 140px;
    background-color: pink;
    position: relative;
}

.logo {
    width: 190px;
    height: 170px;
    position: absolute;
    top: -31px;
    left: 0;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

.logo h1 {
    margin: 0px;
}

.logo a {
    display: block;
    width: 190px;
    height: 170px;
    background: url("../images/logo.jpg");
    text-indent: -9999em;
    overflow: hidden;
}

/*搜索开始*/
.search {
    width: 560px;
    height: 35px;
    background-color: #B22D00;
    position: absolute;
    left: 320px;
    top: 20px;
}

input, button {
    padding: 0;
    border: 0;
}

.search input {
    width: 498px;
    height: 33px;
    border: 1px solid #B22D00;
    padding-left: 5px;
    outline: none;
    color: #ccc;
    float: left;
}

.search button {
    width: 50px;
    height: 35px;
    background-color: #B22D00;
    float: left;
    cursor: pointer;
    outline: none;
}

.search em {
    position: absolute;
    top: 10px;
    right: 65px;
    width: 19px;
    height: 15px;
    background: url("../images/sprite-search.png");
    cursor: pointer;
}
.search em:hover{
    background-position: -30px 0;
}
/*搜索结束*/
/*头部结束*/